@media all and (max-width:1300px) {

    .full-website {
        max-width: 100%;
        width: 100%;
    }

    .servic-item h3 {
        font-size: 26px;
        padding-bottom: 11px;
        padding-top: 15px;
    }

    .servic-item p {
        font-size: 16px;
    }

    .notice-informetion p {
        font-size: 16px;
        width: 108%;
    }

    .left-section h2 {
        line-height: 75px;
        font-size: 35px;
        margin-left: 15px;
    }

    .bannar {
        padding: 140px 0;

    }

    .bannar-titel h2 {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .bannar-titel h1 {
        font-size: 25px;
    }

    .bannar-titel a {
        padding: 13px 20px;
        margin-top: 43px;
        font-size: 21px;
    }


}

@media all and (max-width:1115px) {
    .servic-item h3 {
        font-size: 20px;
        padding-bottom: 12px;
    }

    .servic-item p {
        font-size: 19px;
    }

    .about-div h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .about-div p {
        font-size: 19px;
    }

    .notice-section img {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }

    .notice-informetion h2 {
        font-size: 27px;
        margin-bottom: 11px;
        text-align: center;
    }

    .notice-informetion p {
        font-size: 17px;
        width: 700px;
        margin: auto;
        padding-bottom: 13px;
        line-height: 25px;
    }

    .image {
        text-align: center;
    }

}

@media all and (max-width:950px) {
    .left-section {
        float: none;
        width: 100%;
        text-align: center;
    }

    .right-section {
        float: none;
        width: 100%;
    }

    .left-section h2 {
        font-size: 35px;
        padding-top: 18px;
        line-height: 35px;
    }

    .right-section ul {
        text-align: center;
    }

    .right-section ul li a {
        padding: 0px 18px;
        font-size: 22px;
    }

    .bannar {
        padding: 80px 0;
    }

    .bannar-titel h2 {
        margin-bottom: 26px;
        font-size: 35px;
    }

    .bannar-titel h1 {
        font-size: 25px;
    }

    .bannar-titel a {
        padding: 13px 20px;
        margin-top: 40px;
        font-size: 22px;
    }

    .service-section h2 {
        margin-bottom: 18px;
        font-size: 35px;
    }

    .service-section p {
        margin-bottom: 32px;
        font-size: 17px;
    }

    .servic-item h3 {
        font-size: 25px;
        line-height: 30px;
        padding: 6px 0;
    }

    .servic-item p {
        font-size: 17px;
    }

    .servic-item {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 30px 0px;
    }

}

@media all and (max-width:768px) {
    .right-section ul {
        margin-right: 0;
    }

    .right-section ul li a {
        padding: 0 12px;
        font-size: 21px;
    }

    .left-section h2 {
        font-size: 30px;

    }

    .bannar {
        padding: 84px 0;
    }

    .bannar-titel h2 {
        margin-bottom: 20px;
        font-size: 33px;
    }

    .bannar-titel h1 {
        font-size: 24px;
    }

    .bannar-titel a {
        padding: 13px 13px;
        margin-top: 37px;
        font-size: 20px;
    }

    .service-section p {
        margin-bottom: 30px;
        font-size: 19px;
    }

    .service-section h2 {
        margin-bottom: 8px;
        font-size: 35px;
    }

    .service-section h2 {
        margin-bottom: 8px;
        font-size: 30px;
    }

    .service-section {
        margin-top: 25px;
    }

    .servic-item {
        float: none;
        width: 100%;
        box-sizing: border-box;
        padding: 45px 0px;
    }

    .servic-item h3 {
        font-size: 25px;
        line-height: 30px;
        padding-bottom: 15px;
    }

    .servic-item p {
        font-size: 22px;
    }

    .notice-informetion p {
        font-size: 16px;
        width: 100%;
        padding-bottom: 13px;
        line-height: 25px;
        text-align: center;
    }

    .icon {
        float: none;
        width: 100%;
    }

    .icon p {
        font-size: 19px;
        margin: 9px 0;
    }

    .icon-section span {
        font-size: 35px;
        display: inline-block;
        padding-top: 35px;
    }

}

.header-manu .header-button{
    display: none;
}
@media all and (max-width:576px) {
    .left-section h2 {
        font-size: 22px;
        margin-left: 0;
    }

    .bannar-titel h2 {
        margin-bottom: 19px;
        font-size: 28px;
    }

    .bannar-titel h1 {
        font-size: 21px;
    }

    .bannar-titel a {
        padding: 13px 13px;
        margin-top: 37px;
        font-size: 17px;
    }

    .service-section h2 {
        margin-bottom: 7px;
        font-size: 33px;
    }

    .service-section p {
        margin-bottom: 29px;
        font-size: 17px;
        width: 94%;
    }

    .service-section h2 {
        margin-bottom: 8px;
        font-size: 30px;
    }

    .service-section {
        margin-top: 25px;
    }

    .servic-item h3 {
        font-size: 25px;
        line-height: 27px;
        padding-bottom: 11px;
    }

    .servic-item p {
        font-size: 20px;
    }

    .notice-informetion p {
        font-size: 16px;
        width: 100%;
        padding-bottom: 15px;
        line-height: 26px;
        text-align: center;
    }
    .header-manu ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }

    .header-manu .header-button{
        color: #fff;
        cursor: pointer;
        font-size: 35px;
        display: block;

        position: relative;
        top: -15px;
        left: 88%;
    }






}



@media all and (max-width:476px) {

    .bannar {
        padding: 50px 0;
    }

    .header-manu ul li a {
        padding: 0 8px;
        font-size: 17px;
    }

    .bannar-titel h2 {
        margin-bottom: 18px;
        font-size: 24px;
    }

    .bannar-titel h1 {
        font-size: 17px;
    }

    .bannar-titel a {
        padding: 11px 11px;
        margin-top: 32px;
        font-size: 15px;
    }

    .service-section p {
        margin-bottom: 32px;
        font-size: 15px;
        width: 100%;
        line-height: 21px;
    }

    .service-section h2 {
        margin-bottom: 8px;
        font-size: 30px;
    }

    .service-section {
        margin-top: 25px;
    }

    .notice-informetion p {
        font-size: 15px;
        width: 100%;
        padding-bottom: 13px;
        line-height: 25px;
        text-align: center;
    }

    .social-icon ul li span {
        padding: 23px 14px;
        display: inline-block;
        font-size: 30px;
        color: #fff;
        line-height: 50px;
    }

    .icon {
        border-bottom: 3px solid #92949b;
        border-radius: 15%;
    }

}

@media all and (max-width:375px) {
    .header-manu ul li a {
        padding: 0 5px;
        font-size: 14px;
    }

    .bannar-titel h1 {
        font-size: 18px;
    }

    .bannar-titel h2 {
        margin-bottom: 16px;
        font-size: 22px;
    }

    .bannar-titel a {
        padding: 11px 11px;
        margin-top: 32px;
        font-size: 13px;
    }

    .bannar {
        padding: 25px 0;
    }

    .service-section p {
        margin-bottom: 29px;
        font-size: 15px;
        width: 100%;
        line-height: 23px;
    }

    .service-section h2 {
        margin-bottom: 8px;
        font-size: 27px;
    }

    .servic-item p {
        font-size: 18px;
    }

    .servic-item h3 {
        font-size: 23px;
        line-height: 27px;
        padding-bottom: 12px;
    }

    .notice-informetion p {
        font-size: 14px;
        width: 100%;
        padding-bottom: 12px;
        line-height: 25px;
        text-align: center;
    }

    .about-div p {
        font-size: 18px;
    }

    .social-icon ul li span {
        padding: 23px 8px;
        display: inline-block;
        font-size: 30px;
        color: #fff;
        line-height: 50px;
    }
}